<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid py-5">
        <div class="container py-5">
         <center>  <h1 class="text-black mt-4 mb-4">Upload</h1></center>
             <body id="page-top">
    <!-- About Section -->
    <section class="col-md-12 col-sm-12 col-xs-12" id="">
    
      <!-- About Section Heading -->
    
       <!-- Icon Divider -->
       
      <!-- About Section Content -->
    
         <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:450px;">
          
          <form action="http://localhost:5000/preview" name="fs" id="fs" method="post" enctype=multipart/form-data>
                       <br/>
                      <input type="file" name="datasetfile" id="file1" required /> 
                       <br/>
                       <br/>
                       <br/>
                    <input type="submit" style="margin-right:250px" class="btn btn-primary btn-large" value="Upload"> 
                      </form>
      </div>
    </section>
    </div>
    </div>
</body>
</html>
